<% include partials/_header %>

<div class="col-md-7 mx-auto">
    <h2>Lista de Asignaturas</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Estudio</th>
                <th>Lista Alumnos</th>
                <th>Lista Profesores</th>
                <% if (user.rol.toLowerCase() == "admin") { %>
                    <th>Operaciones</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% if (asignaturas && asignaturas.length > 0) { %>
                <% asignaturas.forEach(asignatura => { %>
                    <tr>
                        <td><%= asignatura._id %></td>
                        <td>
                            <a href="/asignaturas/<%= asignatura._id %>/software"><%= asignatura.nombre %></a>
                        </td>
                        <td><%= asignatura.curso %></td>
                        <td><%= asignatura.estudio.nombre %>  -  <%= asignatura.estudio.tipo  %></td>
                        <td>
                            <% if (asignatura.listaAlumnos && asignatura.listaAlumnos.length > 0) { %>
                                <%- asignatura.listaAlumnos
                                .map(alumno => `<p>${alumno.nombre} ${alumno.apellidos} (${alumno.email})</p>`)
                                .join(" ")
                                %>
                            <% } else { %>
                                <p>Sin Alumnos</p>
                            <% } %>
                        </td>
                        <td>
                            <% if (asignatura.listaProfesores && asignatura.listaProfesores.length > 0) { %>
                                <%- asignatura.listaProfesores
                                .map(profesor => `<p>${profesor.nombre} ${profesor.apellidos} (${profesor.email})</p>`)
                                .join(" ")
                                %>
                            <% } else { %>
                                <p>Sin Profesores</p>
                            <% } %>
                        </td>
                        <% if (user.rol.toLowerCase() == "admin") { %>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="/asignaturas/edit/<%= asignatura._id %>" class="btn btn-info btn-sm me-1" style="width: 60px;">Edit</a>
                                    <a href="/asignaturas/delete/<%= asignatura._id %>" class="btn btn-danger btn-sm" style="width: 60px;">Delete</a>
                                </div>
                            </td>
                        <% } %>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="7" class="text-center">No hay asignaturas registradas</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% include partials/_footer %>