<% include partials/_header %>

<div class="container-fluid px-2">
  <div class="col-lg-10 col-md-12 mx-auto">
    <h2 class="text-center mb-4">Lista de Asignaturas</h2>
    
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-center w-100">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Curso</th>
            <th>Estudio</th>
            <th>Lista Alumnos</th>
            <th>Lista Profesores</th>
            <% if (user.rol.toLowerCase() == "admin") { %>
              <th>Acciones</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% if (asignaturas && asignaturas.length > 0) { %>
            <% asignaturas.forEach(asignatura => { %>
              <tr>
                <td class="text-wrap">
                  <a href="/asignaturas/<%= asignatura._id %>/software"><%= asignatura.nombre %></a>
                </td>
                <td class="text-wrap"><%= asignatura.curso %></td>
                <td class="text-wrap"><%= asignatura.estudio.nombre %> - <%= asignatura.estudio.tipo %></td>
                <td class="text-wrap">
                  <% let alumnosValidos = (asignatura.listaAlumnos || []).filter(alumno => alumno.nombre !== "No encontrado"); %>
                  <% if (alumnosValidos.length > 0) { %>
                    <%- alumnosValidos.map(alumno => `<p>${alumno.nombre} ${alumno.apellidos} (${alumno.email})</p>`).join("") %>
                  <% } else { %>
                    <p>Sin Alumnos</p>
                  <% } %>
                </td>
                <td class="text-wrap">
                  <% let profesoresValidos = (asignatura.listaProfesores || []).filter(profesor => profesor.nombre !== "No encontrado"); %>
                  <% if (profesoresValidos.length > 0) { %>
                    <%- profesoresValidos.map(profesor => `<p>${profesor.nombre} ${profesor.apellidos} (${profesor.email})</p>`).join("") %>
                  <% } else { %>
                    <p>Sin Profesores</p>
                  <% } %>
                </td>
                <% if (user.rol.toLowerCase() == "admin") { %>
                  <td>
                    <div class="d-flex justify-content-center">
                      <a href="/asignaturas/edit/<%= asignatura._id %>" class="btn btn-info btn-sm me-2">Editar</a>
                      <a href="/asignaturas/delete/<%= asignatura._id %>" class="btn btn-danger btn-sm">Borrar</a>
                    </div>
                  </td>
                <% } %>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="7" class="text-center">No hay asignaturas registradas</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/_footer %>
