<% include partials/_header %>

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center mb-3">Editar Asignatura</h2>

          <form action="/asignaturas/edit/<%= asignatura._id %>" method="POST">
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" name="nombre" value="<%= asignatura.nombre %>" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Curso</label>
              <input type="number" class="form-control" name="curso" value="<%= asignatura.curso %>" required>
            </div>

            <div class="mb-3">
              <label class="form-label">Estudio</label>
              <select class="form-control" name="estudio_id" required>
                <% estudios.forEach(estudio => { %>
                  <option value="<%= estudio._id %>" <%= estudio._id.toString() === asignatura.estudio_id.toString() ? 'selected' : '' %>>
                    <%= estudio.nombre %> - <%= estudio.tipo %>
                  </option>
                <% }) %>
              </select>
            </div>

            <div class="d-flex justify-content-between">
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
              <a href="/asignaturas" class="btn btn-secondary">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
