<% include partials/_header %>



<div class="col-md-7 mx-auto">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="mx-auto text-center"colspan="2">Usuario</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <th>ID</th>
            <td><%= user._id%></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><%= user.email%></td>
          </tr>          
          <tr>
            <th>Password</th>
            <td><%= user.password%></td>
          </tr>
          <tr>
            <th>Nombre</th>
            <td><%= user.nombre%></td>
          </tr>
          <tr>
            <th>Apellidos</th>
            <td><%= user.apellidos%></td>
          </tr>
          <tr>
            <th>Rol</th>
            <td><%= user.rol%></td>
          </tr>

      </tbody>
    </table>
    <% if (user.rol.toLowerCase() == "admin") { %>
      <H2>Crear Cuenta Nueva</H2>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form action="/signup" method="POST">
              <input type="email" name="email" placeholder="Email">
              <input type="password" name="password" placeholder="Password">
              <input type="text" name="nombre" placeholder="nombre">
              <input type="text" name="apellidos" placeholder="apellidos">
              <input type="text" name="rol" placeholder="rol">
              <button class="btn btn-primary" type="submit">
                Crear Cuenta
              </button>
            </form>
          </div>
        </div>
      </div>
      
      <% if (signupMessage) { %>
        <p style="color:#FF0000;"><%= signupMessage %></p>
      <% } %>
   <% } %>
   
  
  </div>
</div>
<% include partials/_footer %>