<% include partials/_header %>

<div class="col-md-7 mx-auto">
  <h2>Lista de Software</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripcion</th>
        <th>Link</th>
        <th>Asignatura</th>
        <th>Archivos</th>
        <% if (user.rol.toLowerCase() == "admin") { %> 
          <th>Operaciones</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% if (software.length > 0) { %>
        <% software.forEach(software => { %>
          <tr>
            <td><%= software._id %></td>
            <td><%= software.descripcion %></td>
            <td><a href="https://<%= software.link %>" target="_blank" rel="noopener noreferrer" style="text-decoration: none"><%= software.link %></a></td>
            <td><%= software.asignatura.nombre %> - <%= software.asignatura.curso %></td>
            <td>
              <% if (software.archivo) { 
                  let partes = software.archivo.split("-_-"); // Divide el string en partes usando "-_-"
                  
                  let nombreFinal = "Sin nombre"; // Valor por defecto si no hay suficiente estructura
                  
                  if (partes.length >= 3) { // Si hay al menos dos "-_-"
                      let nombreConExtension = partes.slice(2).join("-_-"); // Une desde el segundo "-_-"
                      nombreFinal = nombreConExtension.substring(0, nombreConExtension.lastIndexOf(".")) || nombreConExtension; // Quita la extensión
                  }
              %>
              
                <a href="./files/<%= software.archivo %>" download="<%= nombreFinal %>">
                  <%= nombreFinal %>
                </a>
              
              <% } else { %>
                <em>No file</em>
              <% } %>
            </td>
            
            <% if (user.rol.toLowerCase() != "alumno" ) { %> 
              <td>
                <div class="btn-group" role="group">
                  <a href="/software/edit/<%= software._id %>" class="btn btn-info btn-sm me-1" style="width: 60px;">Edit</a>
                  <a href="/software/delete/<%= software._id %>" class="btn btn-danger btn-sm" style="width: 60px;">Delete</a>
                </div>
              </td>
            <% } %>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="5" class="text-center">No hay Software registrado</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<% include partials/_footer %>

